{% extends "pages/base.html" %}
{% load static %}
{% block title %} Product  {% endblock %}
{% block content %}

<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{Category.cat_name}}</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'home' %}">Home</a>
                            <span>{{Category.cat_name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Danh mục sản phẩm   </h4>
                            <ul>
                                {% for cat in Categories %}
                                <li><a href="{% url 'products' cat.id %}">{{cat.cat_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="row">
                        {% for pro in Product %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{pro.pro_img.url}}">
                                    <ul class="product__item__pic__hover">
                                        <!-- <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
                                        <li><a href="{% url 'detail' pro.id  %}"><i class="fa fa-eye"></i></a></li>
                                        <li><a data-product = {{pro.id}} data-action = "add" class="update-cart"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{% url 'detail' pro.id  %}" class="product_name">{{pro.pro_name}}</a></h6>
                                    <h5>{{pro.pro_price}}<sup>đ</sup></h5>
                                </div> 
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <div class="pagination">
                        <span class="step-links">
                            {% if Product.has_previous %}
                                <a href="?page={{ Product.previous_page_number }}"><<</a>
                            {% endif %}
                        </span>
                    
                        <span class="current"><a href="">Trang {{ Product.number }} / {{ Product.paginator.num_pages }}</a>
                        </span>
                        
                        <span>
                            {% if Product.has_next %}
                                <a href="?page={{ Product.next_page_number }}">>></a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Product Section End -->

{% endblock %}