{% extends "pages/base.html" %}
{% load static %}
{% block title %} Search  {% endblock %}
{% block content %}

<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{q}}</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'home' %}">Home</a>
                            <span>{{q}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">     
                    <div class="row">
                        {% for data in data %}
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{data.pro_img.url}}">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="{% url 'detail' data.id  %}"><i class="fa fa-eye"></i></a></li>
                                        <li><a data-product = {{data.id}} data-action = "add" class="update-cart"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{% url 'detail' data.id  %}" class="product_name">{{data.pro_name}}</a></h6>
                                    <h5>{{data.pro_price}}<sup>đ</sup></h5>
                                </div>    
                            </div> 
                        </div>
                        {% endfor %}
                    </div>
                    <div class="pagination">
                        <span class="step-links">
                            {% if data.has_previous %}
                                <a href="?page={{ data.previous_page_number }}"><<</a>
                            {% endif %}
                        </span>
                    
                        <span class="current"><a href="">Trang {{ data.number }} / {{ data.paginator.num_pages }}</a>
                        </span>
                        
                        <span>
                            {% if data.has_next %}
                                <a href="?page={{ data.next_page_number }}">>></a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Product Section End -->

{% endblock %}